Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
psycopg2-binary
dj-database-url
whitenoise
python-dotenv
firebase-admin
django-admin-autocomplete-filter
scikit-learn
pandas
numpy
